apiVersion: v1
kind: Secret
metadata:
  name: mysql-secret
type: Opaque
data:
  # Echo -n 'rootpassword' | base64
  mysql-root-password: cm9vdHBhc3N3b3Jk
  # Echo -n 'password' | base64
  mysql-password: cGFzc3dvcmQ=
